@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .triangle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 0;
  }

  .triangle-two {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 0;
  }
}
