@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .triangle {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 0;
  }

  .triangle-two {
    position: absolute;
    top: 3%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 0;
  }

  .triangle-three {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 0;
  }
  .triangle-four {
    position: absolute;
    top: 94%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 0;
  }

  .triangle-five {
    position: absolute;
    top: 99%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    border: 2px solid orange;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 0;
  }

  body::-webkit-scrollbar {
    width: 0.01px;
    /* Width of the scrollbar */
  }
  body {
    /* Firefox scrollbar-width: none; */
    -ms-overflow-style: none;
  }

  .loader {
    animation: spin 1.5s linear alternate infinite;
    background: #fff;
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }

  .loader:before {
    background: #fd7e14;
    border-radius: 50%;
    content: "";
    display: block;
    height: 0.5em;
    width: 0.5em;
    z-index: 2;
  }

  .loader:after {
    background: #262e2a;
    border-radius: 50%;
    box-shadow: 0em -2.6em #262e2a, 2.25em -4.02em #262e2a,
      2.25em -1.25em #262e2a, 4.6em 0em #262e2a, 2.25em 1.25em #262e2a,
      2.25em 4.02em #262e2a, 0em 2.6em #262e2a, -2.25em 4.02em #262e2a,
      -2.25em 1.25em #262e2a, -4.6em 0em #262e2a, -2.25em -1.25em #262e2a,
      -2.25em -4.02em #262e2a;
    content: "";
    display: block;
    height: 2em;
    width: 2em;
  }

  .inner {
    animation: load 1.5s linear alternate infinite;
    border: solid 1px #fd7e14;
    border-radius: 50%;
    height: 1.75em;
    width: 1.75em;
    z-index: 1;
  }

  .loader,
  .loader:before,
  .loader:after,
  .inner {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  @keyframes load {
    0% {
      box-shadow: 0em -2.6em #fd7e14, 2.25em -1.25em #fd7e14,
        2.25em 1.25em #fd7e14, 0em 2.6em #fd7e14, -2.25em 1.25em #fd7e14,
        -2.25em -1.25em #fd7e14;
    }
    15% {
      box-shadow: 0em -2.6em #fd7e14, 2.25em -1.25em #fd7e14,
        2.25em 1.25em #fd7e14, 0em 2.6em #fd7e14, -2.25em 1.25em #fd7e14,
        -2.25em -1.25em #fff;
    }
    30% {
      box-shadow: 0em -2.6em #fd7e14, 2.25em -1.25em #fd7e14,
        2.25em 1.25em #fd7e14, 0em 2.6em #fd7e14, -2.25em 1.25em #fff,
        -2.25em -1.25em #fff;
    }
    45% {
      box-shadow: 0em -2.6em #fd7e14, 2.25em -1.25em #fd7e14,
        2.25em 1.25em #fd7e14, 0em 2.6em #fff, -2.25em 1.25em #fff,
        -2.25em -1.25em #fff;
    }
    60% {
      box-shadow: 0em -2.6em #fd7e14, 2.25em -1.25em #fd7e14, 2.25em 1.25em #fff,
        0em 2.6em #fff, -2.25em 1.25em #fff, -2.25em -1.25em #fff;
    }
    75% {
      box-shadow: 0em -2.6em #fd7e14, 2.25em -1.25em #fff, 2.25em 1.25em #fff,
        0em 2.6em #fff, -2.25em 1.25em #fff, -2.25em -1.25em #fff;
    }
    90% {
      box-shadow: 0em -2.6em #fff, 2.25em -1.25em #fff, 2.25em 1.25em #fff,
        0em 2.6em #fff, -2.25em 1.25em #fff, -2.25em -1.25em #fff;
    }
    100% {
      box-shadow: 0em -2.6em #fff, 2.25em -1.25em #fff, 2.25em 1.25em #fff,
        0em 2.6em #fff, -2.25em 1.25em #fff, -2.25em -1.25em #fff;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(60deg);
    }
    30% {
      transform: rotate(120deg);
    }
    45% {
      transform: rotate(180deg);
    }
    60% {
      transform: rotate(240deg);
    }
    75% {
      transform: rotate(300deg);
    }
    90% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .blog-initial-loader {
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    font-family: serif;
    transform-origin: right;
    pointer-events: none;
    line-height: normal;
  }

  /* KEYFRAMES */

  @keyframes toBig {
    0% {
      transform: scale(1) translateX(0px);
    }

    30% {
      transform: scale(1) translateX(0px);
    }

    50% {
      transform: scale(10) translateX(-4.5px);
    }

    80% {
      transform: scale(10) translateX(-4.5px);
    }

    100% {
      transform: scale(1) translateX(0px);
    }
  }

  .blinder-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
  }

  .blinder {
    background-color: #fd7e14;
    height: 100vh;
    flex: 1;
    transform-origin: top;
  }
}
